@if (!token) {
  <div class="login-container">
    <div class="login-box">
      <h2>{{ esRegistro ? 'Crear Cuenta' : 'Iniciar Sesión' }}</h2>
      
      @if (esRegistro) {
        <input type="text" placeholder="Nombre completo" [(ngModel)]="nombreRegistro">
      }
      
      <input type="email" placeholder="Correo electrónico" [(ngModel)]="emailLogin">
      <input type="password" placeholder="Contraseña" [(ngModel)]="passwordLogin">
      
      @if (esRegistro) {
        <button (click)="registrarUsuario()">Registrarse</button>
        <p>¿Ya tienes cuenta? <a (click)="esRegistro = false" style="cursor:pointer; color:blue;">Inicia sesión</a></p>
      } @else {
        <button (click)="iniciarSesion()">Entrar a la tienda</button>
        <p>¿No tienes cuenta? <a (click)="esRegistro = true" style="cursor:pointer; color:blue;">Regístrate aquí</a></p>
      }
    </div>
  </div>
}
@else {
  <div class="header">
    <h1>🎮 Catálogo de Videojuegos</h1>
    <div>
      <button class="btn-carrito" (click)="abrirCarrito()">🛒 Ver Carrito</button>
      <button class="btn-salir" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </div>

  <div class="catalogo">
    @for (juego of videojuegos; track juego.id) {
      <div class="card">
        <h3>{{ juego.titulo }}</h3>
        <p class="consola">{{ juego.consola }}</p>
        <p>{{ juego.descripcion }}</p>
        <p class="precio">${{ juego.precio }} MXN</p>
        <button (click)="agregarAlCarrito(juego.id)">Agregar al carrito</button>
      </div>
    } @empty {
      <p>Cargando inventario desde el servidor...</p>
    }
  </div>

  @if (mostrarCarrito) {
    <div class="overlay" (click)="cerrarCarrito()"></div>
  }

  <div class="sidebar" [class.abierta]="mostrarCarrito">
    <div class="sidebar-header">
      <h2>Tu Carrito</h2>
      <button class="btn-cerrar" (click)="cerrarCarrito()">✖</button>
    </div>

    <div class="sidebar-content">
      @for (item of itemsCarrito; track item.videogame_id) {
        <div class="item-carrito">
          <p><strong>{{ item.titulo }}</strong></p>
          <p>Cant: {{ item.cantidad }} x ${{ item.precio }} MXN</p>
        </div>
      } @empty {
        <p>Tu carrito está vacío. ¡Agrega algunos juegos!</p>
      }
    </div>

    <div class="sidebar-footer">
      <h3>Total: ${{ totalPagar }} MXN</h3>
      <button class="btn-pagar" (click)="alertaPago()">Proceder al pago</button>
    </div>
  </div>
}